<!-- <!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="login.component.css">
    </head>

    <body>
        <div class="login-div">
            <form class="form" method="get" action="login.php">
                <div class="username">
                    <input type="text" name="Uname" id="Uname" placeholder="Username">
                </div>
            
                <div class="password">
                    <input type="Password" name="Pass" id="Pass" placeholder="Password">
                </div>
            
                <div class="login-button">
                    <input type="button" name="log" id="log" value="Log In Here">
                </div>
            
                <div class="remember-user">
                    <input type="checkbox" id="check">
                    <span>Remember me?</span>
                </div>
            
                <div class="password-recovery">
                    Forgot <a href="#">Password</a>
                </div>
            </form>
        </div>
    </body>
</html> -->