<!-- <!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="register.component.css">
    </head>

    <body>
        <div class = register-div>
            <form class="form" id="register" action="register.php" method="post">
                <div class="username">
                    <label for='username' ></label>
                    <input type='text' name='username' id='username' placeholder="Username"/>
                </div>
            
                <div class="email-address">
                    <label for='email' ></label>
                    <input type='text' name='email' id='email' placeholder="example@launchcode.org"/>
                </div>
            
                <div class="password">
                    <label for='password' ></label>
                    <input type='password' name='password' id='password' placeholder="Password"/>
                </div>
            
                <div class="confirm-password">
                    <label for='password2' ></label>
                    <input type='password' name='password2' id='password2' placeholder="Confirm Password"/>
                </div>
            
                <div class="submit-button">
                    <input type='submit' name='Submit' value='Submit'/>
                </div>
            </form>
         </div>
    </body>
</html> -->